.card
{
    h5
    {
        font-size: 19px;
        text-decoration: underline;
    }
    .info
    {
        .stan
        {
            padding: 5px;
        }
        .bi
        {
            color: rgb(201, 201, 5);
        }
    }
}